#calendar{
    width: 80%;
    margin-left: 10%;
    margin-top: 60px;
}

.calendar-table{
    width: 100%;
    border: 1px solid #000;
}

.calendar-table thead tr th{
    background: #000;
    border-bottom: 1px solid #000;
    padding: 20px 0px;
    color: #fff;
}
.calendar-table tr td{
    text-align: center;
    padding: 20px 0;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #dadada;
}

.calendar-btns{
    padding: 10px 0;
    width: 100%;
}

.calendar-btns button{
    padding: 6px 12px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

.calendar-btns span{
    font-weight: bold;
}

.calendar-div{
    display: none;
}

